.div {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
}
.div-2 {
    display: flex;
    flex-direction: column;
    max-width: 360px;
}
.div-3 {
    display: flex;
}
@media (max-width: 999px) {
    .div-3 {
    flex-direction: column;
    align-items: stretch;
    }
}
.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(99.72% - 0px);
    margin-left: 0px;
}
@media (max-width: 999px) {
    .column {
    width: 100%;
    }
}
.div-4 {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    justify-content: flex-start;
    background-color: rgba(14, 141, 211, 1);
}
.div-5 {
    display: flex;
    flex-direction: column;
    max-width: 157px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.div-6 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 137px;
    width: 137px;
}
@media (max-width: 640px) {
    .div-6 {
    width: 266.92px;
    margin-right: -1px;
    margin-left: 80px;
    }
}
.image {
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.image-sizer {
    width: 100%;
    padding-top: 21.7%;
    pointer-events: none;
    font-size: 0;
}
.div-7 {
    display: flex;
    flex-direction: row;
    max-width: 296px;
    justify-content: flex-start;
    margin-top: 12px;
}
.div-8 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    flex-direction: row;
    max-width: 23px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    padding-left: 3px;
}
.image-sizer-2 {
    width: 100%;
    padding-top: 150.7246266240659%;
    pointer-events: none;
    font-size: 0;
}
.div-9 {
    max-width: 288px;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito, sans-serif;
}
.div-10 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-11 {
    max-width: 130px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-12 {
    display: flex;
    max-width: 298px;
    height: 35px;
    width: 298px;
    margin-top: 3px;
    border-radius: 3px;
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
}
.div-13 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-14 {
    display: flex;
    flex-direction: row;
    max-width: 61px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1px;
    padding-bottom: 1px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-15 {
    display: flex;
    flex-direction: row;
    max-width: 241px;
    justify-content: center;
    border-radius: 3px;
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(83, 83, 83, 0.6000000238418579);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-16 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-17 {
    max-width: 130px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-18 {
    display: flex;
    max-width: 298px;
    height: 35px;
    width: 298px;
    margin-top: 3px;
    border-radius: 3px;
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
}
.div-19 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-20 {
    max-width: 130px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-21 {
    display: flex;
    max-width: 298px;
    height: 35px;
    width: 298px;
    margin-top: 3px;
    border-radius: 3px;
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
}
.div-22 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-23 {
    max-width: 130px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-24 {
    display: flex;
    flex-direction: row;
    max-width: 283px;
    justify-content: center;
    border-radius: 3px;
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(83, 83, 83, 0.6000000238418579);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-25 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-26 {
    max-width: 130px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-27 {
    display: flex;
    flex-direction: row;
    max-width: 283px;
    justify-content: center;
    border-radius: 3px;
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(83, 83, 83, 0.6000000238418579);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-28 {
    display: flex;
    flex-direction: column;
    max-width: 298px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
}
.div-29 {
    max-width: 298px;
    color: rgba(83, 83, 83, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Niramit, sans-serif;
}
.div-30 {
    display: flex;
    flex-direction: row;
    max-width: 83px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 2px;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(200, 198, 198, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(83, 83, 83, 1);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Niramit, sans-serif;
}
.div-31 {
    display: flex;
    max-width: 282px;
    height: 7px;
    width: 282px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 1);
}
.div-32 {
    display: flex;
    max-width: 282px;
    height: 3px;
    width: 282px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 1);
}